<a href="https://colab.research.google.com/github/spandangupta/Data602-Data-Analysis-Machine-Learning-Practice/blob/master/FeatureEngineering.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
from sklearn import datasets
from matplotlib import pyplot
from matplotlib import pylab
import numpy as np
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import RidgeClassifier
from sklearn.utils import shuffle
from sklearn.model_selection import train_test_split
from google.colab import files
import io
from sklearn.preprocessing import OneHotEncoder
import sklearn.preprocessing as preprocessing
from google.colab import drive

In [ ]:
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
# uploaded = files.upload()

In [ ]:
data = pd.read_csv('adult.csv')

In [ ]:
# data = pd.read_csv(io.StringIO(uploaded['adult.csv'].decode('utf-8')))

In [ ]:
data.head()

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income
0,90,?,77053,HS-grad,9,Widowed,?,Not-in-family,White,Female,0,4356,40,United-States,<=50K
1,82,Private,132870,HS-grad,9,Widowed,Exec-managerial,Not-in-family,White,Female,0,4356,18,United-States,<=50K
2,66,?,186061,Some-college,10,Widowed,?,Unmarried,Black,Female,0,4356,40,United-States,<=50K
3,54,Private,140359,7th-8th,4,Divorced,Machine-op-inspct,Unmarried,White,Female,0,3900,40,United-States,<=50K
4,41,Private,264663,Some-college,10,Separated,Prof-specialty,Own-child,White,Female,0,3900,40,United-States,<=50K

In [ ]:
#scikit-learn
from numpy import array
from numpy import argmax
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder

In [ ]:
values = array(data)
print(values)

[[90 '?' 77053 ... 40 'United-States' '<=50K']
 [82 'Private' 132870 ... 18 'United-States' '<=50K']
 [66 '?' 186061 ... 40 'United-States' '<=50K']
 ...
 [40 'Private' 154374 ... 40 'United-States' '>50K']
 [58 'Private' 151910 ... 40 'United-States' '<=50K']
 [22 'Private' 201490 ... 20 'United-States' '<=50K']]

In [ ]:
# #using keras-ignore
# from numpy import array
# from numpy import argmax
# from keras.utils import to_categorical
# encoded = to_categorical(data)
# print(encoded)
# # invert encoding
# inverted = argmax(encoded[0])
# print(inverted)

In [ ]:
data.head()

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income
0,90,?,77053,HS-grad,9,Widowed,?,Not-in-family,White,Female,0,4356,40,United-States,<=50K
1,82,Private,132870,HS-grad,9,Widowed,Exec-managerial,Not-in-family,White,Female,0,4356,18,United-States,<=50K
2,66,?,186061,Some-college,10,Widowed,?,Unmarried,Black,Female,0,4356,40,United-States,<=50K
3,54,Private,140359,7th-8th,4,Divorced,Machine-op-inspct,Unmarried,White,Female,0,3900,40,United-States,<=50K
4,41,Private,264663,Some-college,10,Separated,Prof-specialty,Own-child,White,Female,0,3900,40,United-States,<=50K

In [ ]:
data_objectadded=data.select_dtypes(include=[object])

In [ ]:
data_objectadded.head()

,workclass,education,marital.status,occupation,relationship,race,sex,native.country,income
0,?,HS-grad,Widowed,?,Not-in-family,White,Female,United-States,<=50K
1,Private,HS-grad,Widowed,Exec-managerial,Not-in-family,White,Female,United-States,<=50K
2,?,Some-college,Widowed,?,Unmarried,Black,Female,United-States,<=50K
3,Private,7th-8th,Divorced,Machine-op-inspct,Unmarried,White,Female,United-States,<=50K
4,Private,Some-college,Separated,Prof-specialty,Own-child,White,Female,United-States,<=50K

In [ ]:
data_objectadded.columns

Index(['workclass', 'education', 'marital.status', 'occupation',
       'relationship', 'race', 'sex', 'native.country', 'income'],
      dtype='object')

In [ ]:
label_encode=LabelEncoder()

In [ ]:
label_ft=data.apply(label_encode.fit_transform)

In [ ]:
label_ft.head()

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income
0,72,0,2649,11,8,6,0,1,4,0,0,91,39,39,0
1,65,4,6514,11,8,6,4,1,4,0,0,91,17,39,0
2,49,0,11175,15,9,6,0,4,2,0,0,91,39,39,0
3,37,4,7009,5,3,0,7,4,4,0,0,90,39,39,0
4,24,4,16850,15,9,5,10,3,4,0,0,90,39,39,0

In [ ]:
ohencode=preprocessing.OneHotEncoder(sparse=False,categorical_features=[1,2,3,4,5,6,7,8])

In [ ]:
ohLabel=ohencode.fit_transform(label_ft.drop('income', axis=1))

In [ ]:
lr=LogisticRegression()
lr.fit(ohLabel, label_ft['income'])

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [ ]:
array=ohencode.transform(label_ft).toarray()

In [ ]:
array

In [ ]:
from sklearn.preprocessing import PolynomialFeatures
from sklearn.preprocessing import RobustScaler
from sklearn import datasets

In [ ]:
iris_data = datasets.load_iris()
iris_df = pd.DataFrame(np.c_[iris_data.data, iris_data.target], columns=iris_data.feature_names + ['target'])

In [ ]:
train_df, test_df = train_test_split(iris_df, random_state=4)

In [ ]:
pf=PolynomialFeatures(degree=3)
pf.fit_transform(train_df.drop('target', axis=1))[:5]

In [ ]:
plr = LogisticRegression()
plr.fit(pf.fit_transform(train_df.drop('target', axis=1)),train_df['target'])

In [ ]:
lr = LogisticRegression()
lr.fit(train_df.drop('target', axis=1),train_df['target'])

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)