<a href="https://colab.research.google.com/github/spandangupta/Data602-Data-Analysis-Machine-Learning-Practice/blob/master/FeatureEngineering.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
from sklearn import datasets
from matplotlib import pyplot
from matplotlib import pylab
import numpy as np
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import RidgeClassifier
from sklearn.utils import shuffle
from sklearn.model_selection import train_test_split
from google.colab import files
import io
from sklearn.preprocessing import OneHotEncoder
import sklearn.preprocessing as preprocessing
from google.colab import drive

In [ ]:
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/drive

In [ ]:
uploaded = files.upload()

In [ ]:
data = pd.read_csv(io.StringIO(uploaded['adult.csv'].decode('utf-8')))

In [ ]:
data.head()

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income
0,90,?,77053,HS-grad,9,Widowed,?,Not-in-family,White,Female,0,4356,40,United-States,<=50K
1,82,Private,132870,HS-grad,9,Widowed,Exec-managerial,Not-in-family,White,Female,0,4356,18,United-States,<=50K
2,66,?,186061,Some-college,10,Widowed,?,Unmarried,Black,Female,0,4356,40,United-States,<=50K
3,54,Private,140359,7th-8th,4,Divorced,Machine-op-inspct,Unmarried,White,Female,0,3900,40,United-States,<=50K
4,41,Private,264663,Some-college,10,Separated,Prof-specialty,Own-child,White,Female,0,3900,40,United-States,<=50K

In [ ]:
#scikit-learn-ignore
from numpy import array
from numpy import argmax
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder

In [ ]:
# -ignore
values = array(data)
print(values)

[[90 '?' 77053 ... 40 'United-States' '<=50K']
 [82 'Private' 132870 ... 18 'United-States' '<=50K']
 [66 '?' 186061 ... 40 'United-States' '<=50K']
 ...
 [40 'Private' 154374 ... 40 'United-States' '>50K']
 [58 'Private' 151910 ... 40 'United-States' '<=50K']
 [22 'Private' 201490 ... 20 'United-States' '<=50K']]

In [ ]:
#using keras-ignore
from numpy import array
from numpy import argmax
from keras.utils import to_categorical
encoded = to_categorical(data)
print(encoded)
# invert encoding
inverted = argmax(encoded[0])
print(inverted)

In [ ]:

# integer encode - -ignore
label_encoder = LabelEncoder()
integer_encoded = label_encoder.fit_transform(values)
print(integer_encoded)

In [ ]:
# binary encode -ignore
onehot_encoder = OneHotEncoder(sparse=False)
integer_encoded = integer_encoded.reshape(len(integer_encoded), 1)
onehot_encoded = onehot_encoder.fit_transform(integer_encoded)
print(onehot_encoded)
# invert first example
inverted = label_encoder.inverse_transform([argmax(onehot_encoded[0, :])])
print(inverted)

In [ ]:
from sklearn.preprocessing import PolynomialFeatures
from sklearn.preprocessing import RobustScaler
from sklearn import datasets

In [ ]:
iris_data = datasets.load_iris()
iris_df = pd.DataFrame(np.c_[iris_data.data, iris_data.target], columns=iris_data.feature_names + ['target'])

In [ ]:
train_df, test_df = train_test_split(iris_df, random_state=4)

In [ ]:
pf=PolynomialFeatures(degree=3)
pf.fit_transform(train_df.drop('target', axis=1))[:5]

In [ ]:
plr = LogisticRegression()
plr.fit(pf.fit_transform(train_df.drop('target', axis=1)),train_df['target'])

In [ ]:
lr = LogisticRegression()
lr.fit(train_df.drop('target', axis=1),train_df['target'])

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [ ]:
print(sum(plr.predict(pf.transform(train_df.drop('target', axis=1)))==train_df['target']))
print(sum(plr.predict(pf.transform(test_df.drop('target', axis=1)))==test_df['target']))